//Variables

// Paleta de Color
$primary-color:hsl(205,80,60);
$secondary-color:hsl(0,10,10);

// Tamanos de fuentes
$m: 16px;
$xl: $m * 1.5;
$l: $m * 1.25;
$s: $m * 0.8;
$xs: $m * 0.7;

// Variables de layout

$gutter: 16px;
$max-width: 1100px;

@import "base/normalize";
@import "layout/layout";
@import "theme/header";
@import "modules/modules";
@import "base/base";
@import "theme/menu";
@import "theme/banner";