.contact-widget {
    display: flex;

    &__icon {
        width: 2em;
        height: 2em;
        background: $secondary-color;
        color: #fff;
        text-align: center;
        font-size: 1.4em;
        margin-left: .5em;

        &.button {
            line-height: 2.3;
        }
    }

    &__data {
        margin-left: .5em;
    }

    &__title {
        margin: 0;
        
    }

    &__content {
        margin: 0;
    }
}
.button {
    text-decoration: none;
    background: yellow;
    line-height: 2.7;
    display: inline-block;
    padding: 0 1em;

    &--dark {
        background: $secondary-color;
        color: #fff;
    }

    &--light {
        background: #fff;
        color: $primary-color;
    }

    &--cta {
        background: $primary-color;
        color: #fff;
    }

    &--square {
        padding: 0;
    }
}

.social-networks {
    padding-left: 1em;
    a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        line-height: 3;
        margin-right: .5em;
    }
}

.toggle-menu {
    color: $primary-color;
    display: table;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}